<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	resizeOnImport="false"
	captionPosition="NONE"
	galleryTitle="Habitat Enhancements"
	galleryTitlePosition="TOP"
	galleryTitleHAlign="CENTER"

>
  <image imageURL="images/before.jpg"
	thumbURL="thumbs/before.jpg"
	linkURL="images/before.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Re-wilding\before.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Before]]></caption>
  </image>
  <image imageURL="images/IMG-20231109-WA0001.jpg"
	thumbURL="thumbs/IMG-20231109-WA0001.jpg"
	linkURL="images/IMG-20231109-WA0001.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Re-wilding\IMG-20231109-WA0001.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2023-11-09 13.32.55.jpg"
	thumbURL="thumbs/2023-11-09 13.32.55.jpg"
	linkURL="images/2023-11-09 13.32.55.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Re-wilding\2023-11-09 13.32.55.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2023-11-23 11.07.25.jpg"
	thumbURL="thumbs/2023-11-23 11.07.25.jpg"
	linkURL="images/2023-11-23 11.07.25.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Re-wilding\2023-11-23 11.07.25.jpg">
    <title><![CDATA[2023-11-23 11.07.25]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2023-11-23 11.07.30.jpg"
	thumbURL="thumbs/2023-11-23 11.07.30.jpg"
	linkURL="images/2023-11-23 11.07.30.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Re-wilding\2023-11-23 11.07.30.jpg">
    <title><![CDATA[2023-11-23 11.07.30]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2023-11-09 13.33.56.jpg"
	thumbURL="thumbs/2023-11-09 13.33.56.jpg"
	linkURL="images/2023-11-09 13.33.56.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Re-wilding\2023-11-09 13.33.56.jpg">
    <title><![CDATA[2023-11-09 13.33.56]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2023-11-23 11.07.40.jpg"
	thumbURL="thumbs/2023-11-23 11.07.40.jpg"
	linkURL="images/2023-11-23 11.07.40.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Re-wilding\2023-11-23 11.07.40.jpg">
    <title><![CDATA[2023-11-23 11.07.40]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2023-11-23 11.14.18.jpg"
	thumbURL="thumbs/2023-11-23 11.14.18.jpg"
	linkURL="images/2023-11-23 11.14.18.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Re-wilding\2023-11-23 11.14.18.jpg">
    <title><![CDATA[2023-11-23 11.14.18]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2023-11-23 12.03.16.jpg"
	thumbURL="thumbs/2023-11-23 12.03.16.jpg"
	linkURL="images/2023-11-23 12.03.16.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Re-wilding\2023-11-23 12.03.16.jpg">
    <title><![CDATA[2023-11-23 12.03.16]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/After.jpg"
	thumbURL="thumbs/After.jpg"
	linkURL="images/After.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Re-wilding\After.jpg">
    <title><![CDATA[After]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2023-11-09 13.47.46.jpg"
	thumbURL="thumbs/2023-11-09 13.47.46.jpg"
	linkURL="images/2023-11-09 13.47.46.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\Camera Uploads\2023-11-09 13.47.46.jpg">
    <title><![CDATA[2023-11-09 13.47.46]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>