<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Plank Shed Path"

>
  <image imageURL="images/Before.jpg"
	thumbURL="thumbs/Before.jpg"
	linkURL="images/Before.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Plank Shed Path\Before.jpg">
    <title><![CDATA[A Very Muddy Path Outside Our Plank Shed]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/PXL_20230330_095156122.MP.jpg"
	thumbURL="thumbs/PXL_20230330_095156122.MP.jpg"
	linkURL="images/PXL_20230330_095156122.MP.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Plank Shed Path\PXL_20230330_095156122.MP.jpg">
    <title><![CDATA[Footpath Closed]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/PXL_20230330_094444619.MP.jpg"
	thumbURL="thumbs/PXL_20230330_094444619.MP.jpg"
	linkURL="images/PXL_20230330_094444619.MP.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Plank Shed Path\PXL_20230330_094444619.MP.jpg">
    <title><![CDATA[Preparing the Ground]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/PXL_20230330_094200511.MP.jpg"
	thumbURL="thumbs/PXL_20230330_094200511.MP.jpg"
	linkURL="images/PXL_20230330_094200511.MP.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Plank Shed Path\PXL_20230330_094200511.MP.jpg">
    <title><![CDATA[Will It Fit ?]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/PXL_20230330_094230979.MP.jpg"
	thumbURL="thumbs/PXL_20230330_094230979.MP.jpg"
	linkURL="images/PXL_20230330_094230979.MP.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Plank Shed Path\PXL_20230330_094230979.MP.jpg">
    <title><![CDATA[First Metre Down]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/PXL_20230330_122500898.MP.jpg"
	thumbURL="thumbs/PXL_20230330_122500898.MP.jpg"
	linkURL="images/PXL_20230330_122500898.MP.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Plank Shed Path\PXL_20230330_122500898.MP.jpg">
    <title><![CDATA[A Well Earned Lunch]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/PXL_20230330_132142936.MP.jpg"
	thumbURL="thumbs/PXL_20230330_132142936.MP.jpg"
	linkURL="images/PXL_20230330_132142936.MP.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Plank Shed Path\PXL_20230330_132142936.MP.jpg">
    <title><![CDATA[First Section of Breedon Gravel Down]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/PXL_20230330_134912412.MP.jpg"
	thumbURL="thumbs/PXL_20230330_134912412.MP.jpg"
	linkURL="images/PXL_20230330_134912412.MP.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Plank Shed Path\PXL_20230330_134912412.MP.jpg">
    <title><![CDATA[End of Day One]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/PXL_20230331_091355257.MP.jpg"
	thumbURL="thumbs/PXL_20230331_091355257.MP.jpg"
	linkURL="images/PXL_20230331_091355257.MP.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Plank Shed Path\PXL_20230331_091355257.MP.jpg">
    <title><![CDATA[Day Two]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/After.jpg"
	thumbURL="thumbs/After.jpg"
	linkURL="images/After.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Plank Shed Path\After.jpg">
    <title><![CDATA[Job Done]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/PXL_20230401_090754176.MP.jpg"
	thumbURL="thumbs/PXL_20230401_090754176.MP.jpg"
	linkURL="images/PXL_20230401_090754176.MP.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Plank Shed Path\PXL_20230401_090754176.MP.jpg">
    <title><![CDATA[Job Done]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2023-04-01_12-56-34.jpg"
	thumbURL="thumbs/IMG_2023-04-01_12-56-34.jpg"
	linkURL="images/IMG_2023-04-01_12-56-34.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Plank Shed Path\IMG_2023-04-01_12-56-34.JPG">
    <title><![CDATA[Before and After]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>