<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="MacMillan 2019"

>
  <image imageURL="images/IMG_20190816_095216.jpg"
	thumbURL="thumbs/IMG_20190816_095216.jpg"
	linkURL="images/IMG_20190816_095216.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2019\Macmillan\photos\IMG_20190816_095216.jpg">
    <title><![CDATA[IMG_20190816_095216]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20190816_095233.jpg"
	thumbURL="thumbs/IMG_20190816_095233.jpg"
	linkURL="images/IMG_20190816_095233.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2019\Macmillan\photos\IMG_20190816_095233.jpg">
    <title><![CDATA[IMG_20190816_095233]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20190816_095248.jpg"
	thumbURL="thumbs/IMG_20190816_095248.jpg"
	linkURL="images/IMG_20190816_095248.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2019\Macmillan\photos\IMG_20190816_095248.jpg">
    <title><![CDATA[IMG_20190816_095248]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20190816_103001.jpg"
	thumbURL="thumbs/IMG_20190816_103001.jpg"
	linkURL="images/IMG_20190816_103001.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2019\Macmillan\photos\IMG_20190816_103001.jpg">
    <title><![CDATA[IMG_20190816_103001]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20190816_103011.jpg"
	thumbURL="thumbs/IMG_20190816_103011.jpg"
	linkURL="images/IMG_20190816_103011.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2019\Macmillan\photos\IMG_20190816_103011.jpg">
    <title><![CDATA[IMG_20190816_103011]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20190816_103402.jpg"
	thumbURL="thumbs/IMG_20190816_103402.jpg"
	linkURL="images/IMG_20190816_103402.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2019\Macmillan\photos\IMG_20190816_103402.jpg">
    <title><![CDATA[IMG_20190816_103402]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20190816_103712.jpg"
	thumbURL="thumbs/IMG_20190816_103712.jpg"
	linkURL="images/IMG_20190816_103712.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2019\Macmillan\photos\IMG_20190816_103712.jpg">
    <title><![CDATA[IMG_20190816_103712]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20190816_104236.jpg"
	thumbURL="thumbs/IMG_20190816_104236.jpg"
	linkURL="images/IMG_20190816_104236.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2019\Macmillan\photos\IMG_20190816_104236.jpg">
    <title><![CDATA[IMG_20190816_104236]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20190816_104245.jpg"
	thumbURL="thumbs/IMG_20190816_104245.jpg"
	linkURL="images/IMG_20190816_104245.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2019\Macmillan\photos\IMG_20190816_104245.jpg">
    <title><![CDATA[IMG_20190816_104245]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20190816_110556.jpg"
	thumbURL="thumbs/IMG_20190816_110556.jpg"
	linkURL="images/IMG_20190816_110556.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2019\Macmillan\photos\IMG_20190816_110556.jpg">
    <title><![CDATA[IMG_20190816_110556]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20190816_111509.jpg"
	thumbURL="thumbs/IMG_20190816_111509.jpg"
	linkURL="images/IMG_20190816_111509.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2019\Macmillan\photos\IMG_20190816_111509.jpg">
    <title><![CDATA[IMG_20190816_111509]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20190816_111544.jpg"
	thumbURL="thumbs/IMG_20190816_111544.jpg"
	linkURL="images/IMG_20190816_111544.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2019\Macmillan\photos\IMG_20190816_111544.jpg">
    <title><![CDATA[IMG_20190816_111544]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20190816_111603.jpg"
	thumbURL="thumbs/IMG_20190816_111603.jpg"
	linkURL="images/IMG_20190816_111603.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2019\Macmillan\photos\IMG_20190816_111603.jpg">
    <title><![CDATA[IMG_20190816_111603]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20190816_112100.jpg"
	thumbURL="thumbs/IMG_20190816_112100.jpg"
	linkURL="images/IMG_20190816_112100.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2019\Macmillan\photos\IMG_20190816_112100.jpg">
    <title><![CDATA[IMG_20190816_112100]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_20190816_095023.jpg"
	thumbURL="thumbs/IMG_20190816_095023.jpg"
	linkURL="images/IMG_20190816_095023.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2019\Macmillan\photos\IMG_20190816_095023.jpg">
    <title><![CDATA[IMG_20190816_095023]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>