<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Bradley Workshop Visit"
	useFullscreenExpand="true"

>
  <image imageURL="images/Bradley_Oct17_031.jpg"
	thumbURL="thumbs/Bradley_Oct17_031.jpg"
	linkURL="images/Bradley_Oct17_031.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\2017\@Bradley Trip\Photos\Bradley_Oct17_031.JPG">
    <title><![CDATA[Bradley_Oct17_031]]></title>
    <caption><![CDATA[The Main Workshop]]></caption>
  </image>
  <image imageURL="images/Bradley_Oct17_001.jpg"
	thumbURL="thumbs/Bradley_Oct17_001.jpg"
	linkURL="images/Bradley_Oct17_001.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\2017\@Bradley Trip\Photos\Bradley_Oct17_001.JPG">
    <title><![CDATA[Bradley_Oct17_001]]></title>
    <caption><![CDATA[Our host Dave Constable giving an overview of the workshop]]></caption>
  </image>
  <image imageURL="images/Bradley_Oct17_003.jpg"
	thumbURL="thumbs/Bradley_Oct17_003.jpg"
	linkURL="images/Bradley_Oct17_003.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\2017\@Bradley Trip\Photos\Bradley_Oct17_003.JPG">
    <title><![CDATA[Bradley_Oct17_003]]></title>
    <caption><![CDATA[The stock of English Oak which will become Lock Gates & Beams]]></caption>
  </image>
  <image imageURL="images/Bradley_Oct17_004.jpg"
	thumbURL="thumbs/Bradley_Oct17_004.jpg"
	linkURL="images/Bradley_Oct17_004.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\2017\@Bradley Trip\Photos\Bradley_Oct17_004.JPG">
    <title><![CDATA[Bradley_Oct17_004]]></title>
    <caption><![CDATA[Maurice inspecting one of the gaes]]></caption>
  </image>
  <image imageURL="images/Bradley_Oct17_005.jpg"
	thumbURL="thumbs/Bradley_Oct17_005.jpg"
	linkURL="images/Bradley_Oct17_005.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\2017\@Bradley Trip\Photos\Bradley_Oct17_005.JPG">
    <title><![CDATA[Bradley_Oct17_005]]></title>
    <caption><![CDATA[You can never have too many clamps]]></caption>
  </image>
  <image imageURL="images/Bradley_Oct17_006.jpg"
	thumbURL="thumbs/Bradley_Oct17_006.jpg"
	linkURL="images/Bradley_Oct17_006.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\2017\@Bradley Trip\Photos\Bradley_Oct17_006.JPG">
    <title><![CDATA[Bradley_Oct17_006]]></title>
    <caption><![CDATA[A gate nearing completion]]></caption>
  </image>
  <image imageURL="images/Bradley_Oct17_007.jpg"
	thumbURL="thumbs/Bradley_Oct17_007.jpg"
	linkURL="images/Bradley_Oct17_007.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\2017\@Bradley Trip\Photos\Bradley_Oct17_007.JPG">
    <title><![CDATA[Bradley_Oct17_007]]></title>
    <caption><![CDATA[One of the craftsmen explaining the process to Colin]]></caption>
  </image>
  <image imageURL="images/Bradley_Oct17_019.jpg"
	thumbURL="thumbs/Bradley_Oct17_019.jpg"
	linkURL="images/Bradley_Oct17_019.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\2017\@Bradley Trip\Photos\Bradley_Oct17_019.JPG">
    <title><![CDATA[Bradley_Oct17_019]]></title>
    <caption><![CDATA[The Kit of Ironmongery to go on a gate]]></caption>
  </image>
  <image imageURL="images/Bradley_Oct17_008.jpg"
	thumbURL="thumbs/Bradley_Oct17_008.jpg"
	linkURL="images/Bradley_Oct17_008.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\2017\@Bradley Trip\Photos\Bradley_Oct17_008.JPG">
    <title><![CDATA[Bradley_Oct17_008]]></title>
    <caption><![CDATA[Now that's what I call a drill!]]></caption>
  </image>
  <image imageURL="images/Bradley_Oct17_009.jpg"
	thumbURL="thumbs/Bradley_Oct17_009.jpg"
	linkURL="images/Bradley_Oct17_009.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\2017\@Bradley Trip\Photos\Bradley_Oct17_009.JPG">
    <title><![CDATA[Bradley_Oct17_009]]></title>
    <caption><![CDATA[Another bigger gate under construction]]></caption>
  </image>
  <image imageURL="images/Bradley_Oct17_010.jpg"
	thumbURL="thumbs/Bradley_Oct17_010.jpg"
	linkURL="images/Bradley_Oct17_010.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\2017\@Bradley Trip\Photos\Bradley_Oct17_010.JPG">
    <title><![CDATA[Bradley_Oct17_010]]></title>
    <caption><![CDATA[Maurice and Tony ]]></caption>
  </image>
  <image imageURL="images/Bradley_Oct17_011.jpg"
	thumbURL="thumbs/Bradley_Oct17_011.jpg"
	linkURL="images/Bradley_Oct17_011.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\2017\@Bradley Trip\Photos\Bradley_Oct17_011.JPG">
    <title><![CDATA[Bradley_Oct17_011]]></title>
    <caption><![CDATA[Colin looking at the big gate]]></caption>
  </image>
  <image imageURL="images/Bradley_Oct17_013.jpg"
	thumbURL="thumbs/Bradley_Oct17_013.jpg"
	linkURL="images/Bradley_Oct17_013.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\2017\@Bradley Trip\Photos\Bradley_Oct17_013.JPG">
    <title><![CDATA[Bradley_Oct17_013]]></title>
    <caption><![CDATA[Maurice looks into the dry dock]]></caption>
  </image>
  <image imageURL="images/Bradley_Oct17_012.jpg"
	thumbURL="thumbs/Bradley_Oct17_012.jpg"
	linkURL="images/Bradley_Oct17_012.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\2017\@Bradley Trip\Photos\Bradley_Oct17_012.JPG">
    <title><![CDATA[Bradley_Oct17_012]]></title>
    <caption><![CDATA[Paddles stored in the dry dock]]></caption>
  </image>
  <image imageURL="images/Bradley_Oct17_014.jpg"
	thumbURL="thumbs/Bradley_Oct17_014.jpg"
	linkURL="images/Bradley_Oct17_014.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\2017\@Bradley Trip\Photos\Bradley_Oct17_014.JPG">
    <title><![CDATA[Bradley_Oct17_014]]></title>
    <caption><![CDATA[A baot would be clamped in this wheel]]></caption>
  </image>
  <image imageURL="images/Bradley_Oct17_015.jpg"
	thumbURL="thumbs/Bradley_Oct17_015.jpg"
	linkURL="images/Bradley_Oct17_015.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\2017\@Bradley Trip\Photos\Bradley_Oct17_015.JPG">
    <title><![CDATA[Bradley_Oct17_015]]></title>
    <caption><![CDATA[And then rotated ]]></caption>
  </image>
  <image imageURL="images/Bradley_Oct17_016.jpg"
	thumbURL="thumbs/Bradley_Oct17_016.jpg"
	linkURL="images/Bradley_Oct17_016.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\2017\@Bradley Trip\Photos\Bradley_Oct17_016.JPG">
    <title><![CDATA[Bradley_Oct17_016]]></title>
    <caption><![CDATA[So they could work on the underside]]></caption>
  </image>
  <image imageURL="images/Bradley_Oct17_021.jpg"
	thumbURL="thumbs/Bradley_Oct17_021.jpg"
	linkURL="images/Bradley_Oct17_021.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\2017\@Bradley Trip\Photos\Bradley_Oct17_021.JPG">
    <title><![CDATA[Bradley_Oct17_021]]></title>
    <caption><![CDATA[Pintles for gates on the Oxford Canal]]></caption>
  </image>
  <image imageURL="images/Bradley_Oct17_023.jpg"
	thumbURL="thumbs/Bradley_Oct17_023.jpg"
	linkURL="images/Bradley_Oct17_023.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\2017\@Bradley Trip\Photos\Bradley_Oct17_023.JPG">
    <title><![CDATA[Bradley_Oct17_023]]></title>
    <caption><![CDATA[Steelwork for wooden paddles]]></caption>
  </image>
  <image imageURL="images/Bradley_Oct17_022.jpg"
	thumbURL="thumbs/Bradley_Oct17_022.jpg"
	linkURL="images/Bradley_Oct17_022.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\2017\@Bradley Trip\Photos\Bradley_Oct17_022.JPG">
    <title><![CDATA[Bradley_Oct17_022]]></title>
    <caption><![CDATA[Bollards!]]></caption>
  </image>
  <image imageURL="images/Bradley_Oct17_018.jpg"
	thumbURL="thumbs/Bradley_Oct17_018.jpg"
	linkURL="images/Bradley_Oct17_018.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\2017\@Bradley Trip\Photos\Bradley_Oct17_018.JPG">
    <title><![CDATA[Bradley_Oct17_018]]></title>
    <caption><![CDATA[A Casting Patern although the casting is done off site]]></caption>
  </image>
  <image imageURL="images/Bradley_Oct17_024.jpg"
	thumbURL="thumbs/Bradley_Oct17_024.jpg"
	linkURL="images/Bradley_Oct17_024.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\2017\@Bradley Trip\Photos\Bradley_Oct17_024.JPG">
    <title><![CDATA[Bradley_Oct17_024]]></title>
    <caption><![CDATA[New Ground Paddle Gear fabricated here at Bradley]]></caption>
  </image>
  <image imageURL="images/Bradley_Oct17_017.jpg"
	thumbURL="thumbs/Bradley_Oct17_017.jpg"
	linkURL="images/Bradley_Oct17_017.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\2017\@Bradley Trip\Photos\Bradley_Oct17_017.JPG">
    <title><![CDATA[Bradley_Oct17_017]]></title>
    <caption><![CDATA[More Padle Gear]]></caption>
  </image>
  <image imageURL="images/Bradley_Oct17_020.jpg"
	thumbURL="thumbs/Bradley_Oct17_020.jpg"
	linkURL="images/Bradley_Oct17_020.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\2017\@Bradley Trip\Photos\Bradley_Oct17_020.JPG">
    <title><![CDATA[Bradley_Oct17_020]]></title>
    <caption><![CDATA[Refurbished Paddle Gear and 'Top Hats']]></caption>
  </image>
  <image imageURL="images/Bradley_Oct17_026.jpg"
	thumbURL="thumbs/Bradley_Oct17_026.jpg"
	linkURL="images/Bradley_Oct17_026.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\2017\@Bradley Trip\Photos\Bradley_Oct17_026.JPG">
    <title><![CDATA[Bradley_Oct17_026]]></title>
    <caption><![CDATA[Top Hats were traditionally fitted over gate posts to reduce the wear from ropes]]></caption>
  </image>
  <image imageURL="images/Bradley_Oct17_028.jpg"
	thumbURL="thumbs/Bradley_Oct17_028.jpg"
	linkURL="images/Bradley_Oct17_028.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\2017\@Bradley Trip\Photos\Bradley_Oct17_028.JPG">
    <title><![CDATA[Bradley_Oct17_028]]></title>
    <caption><![CDATA[The gates are filled with water to prove they are water tight]]></caption>
  </image>
  <image imageURL="images/Bradley_Oct17_027.jpg"
	thumbURL="thumbs/Bradley_Oct17_027.jpg"
	linkURL="images/Bradley_Oct17_027.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\2017\@Bradley Trip\Photos\Bradley_Oct17_027.JPG">
    <title><![CDATA[Bradley_Oct17_027]]></title>
    <caption><![CDATA[Now where is our new beam for lock 4?]]></caption>
  </image>
  <image imageURL="images/Bradley_Oct17_034.jpg"
	thumbURL="thumbs/Bradley_Oct17_034.jpg"
	linkURL="images/Bradley_Oct17_034.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\2017\@Bradley Trip\Photos\Bradley_Oct17_034.JPG">
    <title><![CDATA[Bradley_Oct17_034]]></title>
    <caption><![CDATA[Is it over there?]]></caption>
  </image>
  <image imageURL="images/Bradley_Oct17_025.jpg"
	thumbURL="thumbs/Bradley_Oct17_025.jpg"
	linkURL="images/Bradley_Oct17_025.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\2017\@Bradley Trip\Photos\Bradley_Oct17_025.JPG">
    <title><![CDATA[Bradley_Oct17_025]]></title>
    <caption><![CDATA[We can't find it anywhere]]></caption>
  </image>
  <image imageURL="images/Bradley_Oct17_033.jpg"
	thumbURL="thumbs/Bradley_Oct17_033.jpg"
	linkURL="images/Bradley_Oct17_033.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\2017\@Bradley Trip\Photos\Bradley_Oct17_033.JPG">
    <title><![CDATA[Bradley_Oct17_033]]></title>
    <caption><![CDATA[New gates for Claydon on the Oxford Canal]]></caption>
  </image>
  <image imageURL="images/Bradley_Oct17_035.jpg"
	thumbURL="thumbs/Bradley_Oct17_035.jpg"
	linkURL="images/Bradley_Oct17_035.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\2017\@Bradley Trip\Photos\Bradley_Oct17_035.JPG">
    <title><![CDATA[Bradley_Oct17_035]]></title>
    <caption><![CDATA[Notice the differnt shape Pintiles]]></caption>
  </image>
  <image imageURL="images/Bradley_Oct17_029.jpg"
	thumbURL="thumbs/Bradley_Oct17_029.jpg"
	linkURL="images/Bradley_Oct17_029.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\2017\@Bradley Trip\Photos\Bradley_Oct17_029.JPG">
    <title><![CDATA[Bradley_Oct17_029]]></title>
    <caption><![CDATA[The old pump house that was hit by a bomb dropped by a Zepplin in the first world war]]></caption>
  </image>
  <image imageURL="images/Bradley_Oct17_030.jpg"
	thumbURL="thumbs/Bradley_Oct17_030.jpg"
	linkURL="images/Bradley_Oct17_030.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\2017\@Bradley Trip\Photos\Bradley_Oct17_030.JPG">
    <title><![CDATA[Bradley_Oct17_030]]></title>
    <caption><![CDATA[Sadley two locals where killed by the blast]]></caption>
  </image>
  <image imageURL="images/Bradley_Oct17_032.jpg"
	thumbURL="thumbs/Bradley_Oct17_032.jpg"
	linkURL="images/Bradley_Oct17_032.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\2017\@Bradley Trip\Photos\Bradley_Oct17_032.JPG">
    <title><![CDATA[Bradley_Oct17_032]]></title>
    <caption><![CDATA["Its was this long!"]]></caption>
  </image>
  <image imageURL="images/Bradley_Oct17_036.jpg"
	thumbURL="thumbs/Bradley_Oct17_036.jpg"
	linkURL="images/Bradley_Oct17_036.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\2017\@Bradley Trip\Photos\Bradley_Oct17_036.jpg">
    <title><![CDATA[Bradley_Oct17_036]]></title>
    <caption><![CDATA[Group Photo]]></caption>
  </image>
  <image imageURL="images/Bradley_Oct17_002.jpg"
	thumbURL="thumbs/Bradley_Oct17_002.jpg"
	linkURL="images/Bradley_Oct17_002.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\2017\@Bradley Trip\Photos\Bradley_Oct17_002.JPG">
    <title><![CDATA[Bradley_Oct17_002]]></title>
    <caption><![CDATA[Kind thanks to Dave Constable and his team.]]></caption>
  </image>
</juiceboxgallery>