<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	showAudioButton="true"
	showInfoButton="true"
	showNavButtons="true"
	showAutoPlayButton="true"
	backButtonPosition="OVERLAY"
	backButtonUseIcon="true"
	galleryTitlePosition="NONE"
	maxThumbColumns="8"
	enableDirectLinks="true"
	useFullscreenExpand="true"
	autohideThumbs="false"
	showPagingText="false"
	showDownloadButton="true"
	showImageNumber="true"
	showThumbsButton="true"
	thumbShadowBlur="10"
	useThumbDots="true"
	galleryTitle="Hillmorton Lock 4 Repairs 2021"

>
  <image imageURL="images/Lock 4_12-12-21_3.jpg"
	thumbURL="thumbs/Lock 4_12-12-21_3.jpg"
	linkURL="images/Lock 4_12-12-21_3.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2021CRT\Photos\Lock4\Lock 4_12-12-21_3.jpg">
    <title><![CDATA[Lock 4_12-12-21_3]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Lock 4_12-12-21_5.jpg"
	thumbURL="thumbs/Lock 4_12-12-21_5.jpg"
	linkURL="images/Lock 4_12-12-21_5.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2021CRT\Photos\Lock4\Lock 4_12-12-21_5.jpg">
    <title><![CDATA[Lock 4_12-12-21_5]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Lock 4_12-12-21_10.jpg"
	thumbURL="thumbs/Lock 4_12-12-21_10.jpg"
	linkURL="images/Lock 4_12-12-21_10.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2021CRT\Photos\Lock4\Lock 4_12-12-21_10.jpg">
    <title><![CDATA[Lock 4_12-12-21_10]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Lock 4_12-12-21_15.jpg"
	thumbURL="thumbs/Lock 4_12-12-21_15.jpg"
	linkURL="images/Lock 4_12-12-21_15.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2021CRT\Photos\Lock4\Lock 4_12-12-21_15.jpg">
    <title><![CDATA[Lock 4_12-12-21_15]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Lock 4_12-12-21_17.jpg"
	thumbURL="thumbs/Lock 4_12-12-21_17.jpg"
	linkURL="images/Lock 4_12-12-21_17.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2021CRT\Photos\Lock4\Lock 4_12-12-21_17.jpg">
    <title><![CDATA[Lock 4_12-12-21_17]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Lock 4_12-12-21_19.jpg"
	thumbURL="thumbs/Lock 4_12-12-21_19.jpg"
	linkURL="images/Lock 4_12-12-21_19.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2021CRT\Photos\Lock4\Lock 4_12-12-21_19.jpg">
    <title><![CDATA[Lock 4_12-12-21_19]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Lock 4_12-12-21_27.jpg"
	thumbURL="thumbs/Lock 4_12-12-21_27.jpg"
	linkURL="images/Lock 4_12-12-21_27.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2021CRT\Photos\Lock4\Lock 4_12-12-21_27.jpg">
    <title><![CDATA[Lock 4_12-12-21_27]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Lock 4_12-12-21_30.jpg"
	thumbURL="thumbs/Lock 4_12-12-21_30.jpg"
	linkURL="images/Lock 4_12-12-21_30.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2021CRT\Photos\Lock4\Lock 4_12-12-21_30.jpg">
    <title><![CDATA[Lock 4_12-12-21_30]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Lock 4_12-12-21_23.jpg"
	thumbURL="thumbs/Lock 4_12-12-21_23.jpg"
	linkURL="images/Lock 4_12-12-21_23.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2021CRT\Photos\Lock4\Lock 4_12-12-21_23.jpg">
    <title><![CDATA[Lock 4_12-12-21_23]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Lock 4_12-12-21_24.jpg"
	thumbURL="thumbs/Lock 4_12-12-21_24.jpg"
	linkURL="images/Lock 4_12-12-21_24.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2021CRT\Photos\Lock4\Lock 4_12-12-21_24.jpg">
    <title><![CDATA[Lock 4_12-12-21_24]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Lock 4_12-12-21_14.jpg"
	thumbURL="thumbs/Lock 4_12-12-21_14.jpg"
	linkURL="images/Lock 4_12-12-21_14.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2021CRT\Photos\Lock4\Lock 4_12-12-21_14.jpg">
    <title><![CDATA[Lock 4_12-12-21_14]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Lock 4_12-12-21_35.jpg"
	thumbURL="thumbs/Lock 4_12-12-21_35.jpg"
	linkURL="images/Lock 4_12-12-21_35.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2021CRT\Photos\Lock4\Lock 4_12-12-21_35.jpg">
    <title><![CDATA[Lock 4_12-12-21_35]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Lock 4_12-12-21_36.jpg"
	thumbURL="thumbs/Lock 4_12-12-21_36.jpg"
	linkURL="images/Lock 4_12-12-21_36.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2021CRT\Photos\Lock4\Lock 4_12-12-21_36.jpg">
    <title><![CDATA[Lock 4_12-12-21_36]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>