<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	resizeOnImport="false"
	galleryTitle="Planting Hedge Whips"
	galleryTitlePosition="TOP"
	galleryTitleHAlign="CENTER"

>
  <image imageURL="images/2023-12-13 10.24.25.jpg"
	thumbURL="thumbs/2023-12-13 10.24.25.jpg"
	linkURL="images/2023-12-13 10.24.25.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Hedge Whips\2023-12-13 10.24.25.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2023-12-13 10.24.50.jpg"
	thumbURL="thumbs/2023-12-13 10.24.50.jpg"
	linkURL="images/2023-12-13 10.24.50.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Hedge Whips\2023-12-13 10.24.50.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2023-12-13 10.25.11.jpg"
	thumbURL="thumbs/2023-12-13 10.25.11.jpg"
	linkURL="images/2023-12-13 10.25.11.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Hedge Whips\2023-12-13 10.25.11.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2023-12-13 10.25.35.jpg"
	thumbURL="thumbs/2023-12-13 10.25.35.jpg"
	linkURL="images/2023-12-13 10.25.35.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Hedge Whips\2023-12-13 10.25.35.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2023-12-13 10.25.59.jpg"
	thumbURL="thumbs/2023-12-13 10.25.59.jpg"
	linkURL="images/2023-12-13 10.25.59.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Hedge Whips\2023-12-13 10.25.59.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2023-12-13 10.25.41.jpg"
	thumbURL="thumbs/2023-12-13 10.25.41.jpg"
	linkURL="images/2023-12-13 10.25.41.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Hedge Whips\2023-12-13 10.25.41.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2023-12-13 10.49.13.jpg"
	thumbURL="thumbs/2023-12-13 10.49.13.jpg"
	linkURL="images/2023-12-13 10.49.13.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Hedge Whips\2023-12-13 10.49.13.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2023-12-13 11.21.52.jpg"
	thumbURL="thumbs/2023-12-13 11.21.52.jpg"
	linkURL="images/2023-12-13 11.21.52.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Hedge Whips\2023-12-13 11.21.52.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2023-12-13 11.21.59.jpg"
	thumbURL="thumbs/2023-12-13 11.21.59.jpg"
	linkURL="images/2023-12-13 11.21.59.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Hedge Whips\2023-12-13 11.21.59.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>