<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery>
  <image imageURL="images/DSCF6822.jpg"
	thumbURL="thumbs/DSCF6822.jpg"
	linkURL="images/DSCF6822.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6822.JPG"

>
    <title><![CDATA[DSCF6822]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6734.jpg"
	thumbURL="thumbs/DSCF6734.jpg"
	linkURL="images/DSCF6734.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6734.JPG">
    <title><![CDATA[DSCF6734]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6741.jpg"
	thumbURL="thumbs/DSCF6741.jpg"
	linkURL="images/DSCF6741.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6741.JPG">
    <title><![CDATA[DSCF6741]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6786.jpg"
	thumbURL="thumbs/DSCF6786.jpg"
	linkURL="images/DSCF6786.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6786.JPG">
    <title><![CDATA[DSCF6786]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6789.jpg"
	thumbURL="thumbs/DSCF6789.jpg"
	linkURL="images/DSCF6789.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6789.JPG">
    <title><![CDATA[DSCF6789]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6790.jpg"
	thumbURL="thumbs/DSCF6790.jpg"
	linkURL="images/DSCF6790.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6790.JPG">
    <title><![CDATA[DSCF6790]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6792.jpg"
	thumbURL="thumbs/DSCF6792.jpg"
	linkURL="images/DSCF6792.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6792.JPG">
    <title><![CDATA[DSCF6792]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6793.jpg"
	thumbURL="thumbs/DSCF6793.jpg"
	linkURL="images/DSCF6793.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6793.JPG">
    <title><![CDATA[DSCF6793]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6801.jpg"
	thumbURL="thumbs/DSCF6801.jpg"
	linkURL="images/DSCF6801.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6801.JPG">
    <title><![CDATA[DSCF6801]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6814.jpg"
	thumbURL="thumbs/DSCF6814.jpg"
	linkURL="images/DSCF6814.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6814.JPG">
    <title><![CDATA[DSCF6814]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6817.jpg"
	thumbURL="thumbs/DSCF6817.jpg"
	linkURL="images/DSCF6817.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6817.JPG">
    <title><![CDATA[DSCF6817]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>