<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	importTitle="NONE"

>
  <image imageURL="images/2016-10-30 17.45.44-2.jpg"
	thumbURL="thumbs/2016-10-30 17.45.44-2.jpg"
	linkURL="images/2016-10-30 17.45.44-2.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\Camera Uploads\2016-10-30 17.45.44-2.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2016-10-30 12.29.54.jpg"
	thumbURL="thumbs/2016-10-30 12.29.54.jpg"
	linkURL="images/2016-10-30 12.29.54.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\Camera Uploads\2016-10-30 12.29.54.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2016-10-30 12.29.50.jpg"
	thumbURL="thumbs/2016-10-30 12.29.50.jpg"
	linkURL="images/2016-10-30 12.29.50.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\Camera Uploads\2016-10-30 12.29.50.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2016-10-30 12.29.36.jpg"
	thumbURL="thumbs/2016-10-30 12.29.36.jpg"
	linkURL="images/2016-10-30 12.29.36.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\Camera Uploads\2016-10-30 12.29.36.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2016-10-30 12.28.45.jpg"
	thumbURL="thumbs/2016-10-30 12.28.45.jpg"
	linkURL="images/2016-10-30 12.28.45.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\Camera Uploads\2016-10-30 12.28.45.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2016-10-30 12.28.23.jpg"
	thumbURL="thumbs/2016-10-30 12.28.23.jpg"
	linkURL="images/2016-10-30 12.28.23.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\Camera Uploads\2016-10-30 12.28.23.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2016-10-30 12.28.13.jpg"
	thumbURL="thumbs/2016-10-30 12.28.13.jpg"
	linkURL="images/2016-10-30 12.28.13.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\Camera Uploads\2016-10-30 12.28.13.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2016-10-30 12.27.52.jpg"
	thumbURL="thumbs/2016-10-30 12.27.52.jpg"
	linkURL="images/2016-10-30 12.27.52.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\Camera Uploads\2016-10-30 12.27.52.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2016-10-30 12.27.28.jpg"
	thumbURL="thumbs/2016-10-30 12.27.28.jpg"
	linkURL="images/2016-10-30 12.27.28.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\Camera Uploads\2016-10-30 12.27.28.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2016-10-30 12.27.08.jpg"
	thumbURL="thumbs/2016-10-30 12.27.08.jpg"
	linkURL="images/2016-10-30 12.27.08.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\Camera Uploads\2016-10-30 12.27.08.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2016-10-30 12.26.33.jpg"
	thumbURL="thumbs/2016-10-30 12.26.33.jpg"
	linkURL="images/2016-10-30 12.26.33.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\Camera Uploads\2016-10-30 12.26.33.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2016-10-30 12.26.31.jpg"
	thumbURL="thumbs/2016-10-30 12.26.31.jpg"
	linkURL="images/2016-10-30 12.26.31.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\Camera Uploads\2016-10-30 12.26.31.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2016-10-30 12.26.29.jpg"
	thumbURL="thumbs/2016-10-30 12.26.29.jpg"
	linkURL="images/2016-10-30 12.26.29.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\Camera Uploads\2016-10-30 12.26.29.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2016-10-30 12.26.06.jpg"
	thumbURL="thumbs/2016-10-30 12.26.06.jpg"
	linkURL="images/2016-10-30 12.26.06.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\Camera Uploads\2016-10-30 12.26.06.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2016-10-30 12.25.40.jpg"
	thumbURL="thumbs/2016-10-30 12.25.40.jpg"
	linkURL="images/2016-10-30 12.25.40.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\Camera Uploads\2016-10-30 12.25.40.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2016-10-30 12.24.48.jpg"
	thumbURL="thumbs/2016-10-30 12.24.48.jpg"
	linkURL="images/2016-10-30 12.24.48.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\Camera Uploads\2016-10-30 12.24.48.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2016-10-30 12.23.07.jpg"
	thumbURL="thumbs/2016-10-30 12.23.07.jpg"
	linkURL="images/2016-10-30 12.23.07.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\Camera Uploads\2016-10-30 12.23.07.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2016-10-30 12.21.12.jpg"
	thumbURL="thumbs/2016-10-30 12.21.12.jpg"
	linkURL="images/2016-10-30 12.21.12.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\Camera Uploads\2016-10-30 12.21.12.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2016-10-30 12.23.43.jpg"
	thumbURL="thumbs/2016-10-30 12.23.43.jpg"
	linkURL="images/2016-10-30 12.23.43.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\Camera Uploads\2016-10-30 12.23.43.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2016-10-30 12.20.01.jpg"
	thumbURL="thumbs/2016-10-30 12.20.01.jpg"
	linkURL="images/2016-10-30 12.20.01.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\Camera Uploads\2016-10-30 12.20.01.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2016-10-30 12.19.56.jpg"
	thumbURL="thumbs/2016-10-30 12.19.56.jpg"
	linkURL="images/2016-10-30 12.19.56.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\Camera Uploads\2016-10-30 12.19.56.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2016-08-31 13.15.47.jpg"
	thumbURL="thumbs/2016-08-31 13.15.47.jpg"
	linkURL="images/2016-08-31 13.15.47.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\Camera Uploads\2016-08-31 13.15.47.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>