<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	captionPosition="NONE"

>
  <image imageURL="images/1683038376907985336975541038047.jpg"
	thumbURL="thumbs/1683038376907985336975541038047.jpg"
	linkURL="images/1683038376907985336975541038047.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\RugbyInBloom\1683038376907985336975541038047.png">
    <title><![CDATA[1683038376907985336975541038047]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/PXL_20230629_101946565.MP.jpg"
	thumbURL="thumbs/PXL_20230629_101946565.MP.jpg"
	linkURL="images/PXL_20230629_101946565.MP.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\RIB\PXL_20230629_101946565.MP.jpg">
    <title><![CDATA[PXL_20230629_101946565.MP]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/PXL_20230629_101952987.MP.jpg"
	thumbURL="thumbs/PXL_20230629_101952987.MP.jpg"
	linkURL="images/PXL_20230629_101952987.MP.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\RIB\PXL_20230629_101952987.MP.jpg">
    <title><![CDATA[PXL_20230629_101952987.MP]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/PXL_20230629_102046524.MPa.jpg"
	thumbURL="thumbs/PXL_20230629_102046524.MPa.jpg"
	linkURL="images/PXL_20230629_102046524.MPa.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\RIB\PXL_20230629_102046524.MPa.jpg">
    <title><![CDATA[PXL_20230629_102046524.MPa]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/PXL_20230629_110638234.MPa.jpg"
	thumbURL="thumbs/PXL_20230629_110638234.MPa.jpg"
	linkURL="images/PXL_20230629_110638234.MPa.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\RIB\PXL_20230629_110638234.MPa.jpg">
    <title><![CDATA[PXL_20230629_110638234.MPa]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/PXL_20230629_114805882.MP.jpg"
	thumbURL="thumbs/PXL_20230629_114805882.MP.jpg"
	linkURL="images/PXL_20230629_114805882.MP.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\RIB\PXL_20230629_114805882.MP.jpg">
    <title><![CDATA[PXL_20230629_114805882.MP]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/PXL_20230629_114834590.MP.jpg"
	thumbURL="thumbs/PXL_20230629_114834590.MP.jpg"
	linkURL="images/PXL_20230629_114834590.MP.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\RIB\PXL_20230629_114834590.MP.jpg">
    <title><![CDATA[PXL_20230629_114834590.MP]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/PXL_20230629_142434450.MP.jpg"
	thumbURL="thumbs/PXL_20230629_142434450.MP.jpg"
	linkURL="images/PXL_20230629_142434450.MP.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\RIB\PXL_20230629_142434450.MP.jpg">
    <title><![CDATA[PXL_20230629_142434450.MP]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/PXL_20230629_142523833.MPa.jpg"
	thumbURL="thumbs/PXL_20230629_142523833.MPa.jpg"
	linkURL="images/PXL_20230629_142523833.MPa.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\RIB\PXL_20230629_142523833.MPa.jpg">
    <title><![CDATA[PXL_20230629_142523833.MPa]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/PXL_20230629_142622190.MP.jpg"
	thumbURL="thumbs/PXL_20230629_142622190.MP.jpg"
	linkURL="images/PXL_20230629_142622190.MP.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\RIB\PXL_20230629_142622190.MP.jpg">
    <title><![CDATA[PXL_20230629_142622190.MP]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/PXL_20230629_144855204.MPa.jpg"
	thumbURL="thumbs/PXL_20230629_144855204.MPa.jpg"
	linkURL="images/PXL_20230629_144855204.MPa.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\RIB\PXL_20230629_144855204.MPa.jpg">
    <title><![CDATA[PXL_20230629_144855204.MPa]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/PXL_20230629_111818393.MPb.jpg"
	thumbURL="thumbs/PXL_20230629_111818393.MPb.jpg"
	linkURL="images/PXL_20230629_111818393.MPb.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\RIB\PXL_20230629_111818393.MPb.jpg">
    <title><![CDATA[PXL_20230629_111818393.MPb]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>