<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery>
  <image imageURL="images/SAM_2476.jpg"
	thumbURL="thumbs/SAM_2476.jpg"
	linkURL="images/SAM_2476.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Towpath\Thursday 20230216\SAM_2476.JPG"

>
    <title><![CDATA[SAM_2476]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SAM_2479.jpg"
	thumbURL="thumbs/SAM_2479.jpg"
	linkURL="images/SAM_2479.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Towpath\Thursday 20230216\SAM_2479.JPG">
    <title><![CDATA[SAM_2479]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SAM_2484.jpg"
	thumbURL="thumbs/SAM_2484.jpg"
	linkURL="images/SAM_2484.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Towpath\Friday 20230217\SAM_2484.JPG">
    <title><![CDATA[Health & Safety Briefing]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SAM_2471.jpg"
	thumbURL="thumbs/SAM_2471.jpg"
	linkURL="images/SAM_2471.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Towpath\Thursday 20230216\SAM_2471.JPG">
    <title><![CDATA[Competing the Paper Work]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SAM_2470.jpg"
	thumbURL="thumbs/SAM_2470.jpg"
	linkURL="images/SAM_2470.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Towpath\Thursday 20230216\SAM_2470.JPG">
    <title><![CDATA[Competing the Paper Work]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/JohnChris.jpg"
	thumbURL="thumbs/JohnChris.jpg"
	linkURL="images/JohnChris.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Towpath\Thursday 20230216\JohnChris.jpg">
    <title><![CDATA[John & Chris]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/towpath2.jpg"
	thumbURL="thumbs/towpath2.jpg"
	linkURL="images/towpath2.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Towpath\Thursday 20230216\towpath2.jpg">
    <title><![CDATA[Making a Start]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SAM_2474.jpg"
	thumbURL="thumbs/SAM_2474.jpg"
	linkURL="images/SAM_2474.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Towpath\Thursday 20230216\SAM_2474.JPG">
    <title><![CDATA[Making Progress]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SAM_2489.jpg"
	thumbURL="thumbs/SAM_2489.jpg"
	linkURL="images/SAM_2489.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Towpath\Friday 20230217\SAM_2489.JPG">
    <title><![CDATA[Tea Break]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SAM_2482.jpg"
	thumbURL="thumbs/SAM_2482.jpg"
	linkURL="images/SAM_2482.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Towpath\Thursday 20230216\SAM_2482.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SAM_2481.jpg"
	thumbURL="thumbs/SAM_2481.jpg"
	linkURL="images/SAM_2481.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Towpath\Thursday 20230216\SAM_2481.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SAM_2481a.jpg"
	thumbURL="thumbs/SAM_2481a.jpg"
	linkURL="images/SAM_2481a.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Towpath\Thursday 20230216\SAM_2481a.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SAM_2490.jpg"
	thumbURL="thumbs/SAM_2490.jpg"
	linkURL="images/SAM_2490.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Towpath\Friday 20230217\SAM_2490.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SAM_2491.jpg"
	thumbURL="thumbs/SAM_2491.jpg"
	linkURL="images/SAM_2491.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Towpath\Friday 20230217\SAM_2491.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SAM_2492.jpg"
	thumbURL="thumbs/SAM_2492.jpg"
	linkURL="images/SAM_2492.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Towpath\Friday 20230217\SAM_2492.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SAM_2493.jpg"
	thumbURL="thumbs/SAM_2493.jpg"
	linkURL="images/SAM_2493.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Towpath\Friday 20230217\SAM_2493.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SAM_2494.jpg"
	thumbURL="thumbs/SAM_2494.jpg"
	linkURL="images/SAM_2494.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Towpath\Friday 20230217\SAM_2494.JPG">
    <title><![CDATA[200 Metres of Towpath Reclaimed]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/FinalInspection.jpg"
	thumbURL="thumbs/FinalInspection.jpg"
	linkURL="images/FinalInspection.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Towpath\Friday 20230217\FinalInspection.jpg">
    <title><![CDATA[Final Inspection]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>