<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	resizeOnImport="false"
	galleryTitle="Team Breakfast 2023"
	captionPosition="BELOW_IMAGE"
	showImageNumber="true"

>
  <image imageURL="images/SAM_2520.jpg"
	thumbURL="thumbs/SAM_2520.jpg"
	linkURL="images/SAM_2520.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Breakfast\Edited\SAM_2520.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Meet the Team]]></caption>
  </image>
  <image imageURL="images/SAM_2522.jpg"
	thumbURL="thumbs/SAM_2522.jpg"
	linkURL="images/SAM_2522.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Breakfast\Edited\SAM_2522.jpg">
    <title><![CDATA[Louis Receives His Mug for 100 Hours Volunteered]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SAM_2524.jpg"
	thumbURL="thumbs/SAM_2524.jpg"
	linkURL="images/SAM_2524.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Breakfast\Edited\SAM_2524.jpg">
    <title><![CDATA[Gordon Receives His Bronze Badge for 500 Hours Volunteered]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SAM_2526.jpg"
	thumbURL="thumbs/SAM_2526.jpg"
	linkURL="images/SAM_2526.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Breakfast\Edited\SAM_2526.jpg">
    <title><![CDATA[ Tony Receives His Silver Badge for 1000 Hours Volunteered]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SAM_2529.jpg"
	thumbURL="thumbs/SAM_2529.jpg"
	linkURL="images/SAM_2529.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Breakfast\Edited\SAM_2529.jpg">
    <title><![CDATA[ Bob Receives His Silver Badge for 1000 Hours Volunteered]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SAM_2531.jpg"
	thumbURL="thumbs/SAM_2531.jpg"
	linkURL="images/SAM_2531.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Breakfast\Edited\SAM_2531.jpg">
    <title><![CDATA[ Bob Also Receives His Gold Badge for 2000 Hours Volunteered]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SAM_2533.jpg"
	thumbURL="thumbs/SAM_2533.jpg"
	linkURL="images/SAM_2533.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Breakfast\Edited\SAM_2533.jpg">
    <title><![CDATA[ Jane Receives Her Gold Badge for 2000 Hours Volunteered]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SAM_2534.jpg"
	thumbURL="thumbs/SAM_2534.jpg"
	linkURL="images/SAM_2534.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Breakfast\Edited\SAM_2534.jpg">
    <title><![CDATA[ Kev Receives His Gold Badge for 2000 Hours Volunteered]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SAM_2536.jpg"
	thumbURL="thumbs/SAM_2536.jpg"
	linkURL="images/SAM_2536.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Breakfast\Edited\SAM_2536.jpg">
    <title><![CDATA[ Tony Also Receives His Gold Badge for 2000 Hours Volunteered]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>