<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	resizeOnImport="false"
	galleryTitle="Boxing Clever"
	galleryDescription="Bat, Bird and Hedgehog Boxes"
	captionPosition="BELOW_THUMBS"
	captionHAlign="CENTER"

>
  <image imageURL="images/2023-12-07 10.47.48.jpg"
	thumbURL="thumbs/2023-12-07 10.47.48.jpg"
	linkURL="images/2023-12-07 10.47.48.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Bird_Bat_Boxes\2023-12-07 10.47.48.jpg">
    <title><![CDATA[Schwegler 1FD Bat Boxe for smaller bats like the Pipistrelle]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2023-12-07 11.06.48.jpg"
	thumbURL="thumbs/2023-12-07 11.06.48.jpg"
	linkURL="images/2023-12-07 11.06.48.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Bird_Bat_Boxes\2023-12-07 11.06.48.jpg">
    <title><![CDATA[Vincent Pro Bat Box suitable for many UK species]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2023-12-07 11.06.30.jpg"
	thumbURL="thumbs/2023-12-07 11.06.30.jpg"
	linkURL="images/2023-12-07 11.06.30.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Bird_Bat_Boxes\2023-12-07 11.06.30.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2023-12-07 11.47.51.jpg"
	thumbURL="thumbs/2023-12-07 11.47.51.jpg"
	linkURL="images/2023-12-07 11.47.51.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Bird_Bat_Boxes\2023-12-07 11.47.51.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2023-12-07 11.48.18.jpg"
	thumbURL="thumbs/2023-12-07 11.48.18.jpg"
	linkURL="images/2023-12-07 11.48.18.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Bird_Bat_Boxes\2023-12-07 11.48.18.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2023-12-08 14.41.20.jpg"
	thumbURL="thumbs/2023-12-08 14.41.20.jpg"
	linkURL="images/2023-12-08 14.41.20.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Bird_Bat_Boxes\2023-12-08 14.41.20.jpg">
    <title><![CDATA[The Bird Boxes]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2023-12-08 14.42.38.jpg"
	thumbURL="thumbs/2023-12-08 14.42.38.jpg"
	linkURL="images/2023-12-08 14.42.38.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Bird_Bat_Boxes\2023-12-08 14.42.38.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2023-12-08 14.42.44.jpg"
	thumbURL="thumbs/2023-12-08 14.42.44.jpg"
	linkURL="images/2023-12-08 14.42.44.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Bird_Bat_Boxes\2023-12-08 14.42.44.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2023-12-08 14.43.00.jpg"
	thumbURL="thumbs/2023-12-08 14.43.00.jpg"
	linkURL="images/2023-12-08 14.43.00.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Bird_Bat_Boxes\2023-12-08 14.43.00.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2023-12-07 12.11.44.jpg"
	thumbURL="thumbs/2023-12-07 12.11.44.jpg"
	linkURL="images/2023-12-07 12.11.44.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Bird_Bat_Boxes\2023-12-07 12.11.44.jpg">
    <title><![CDATA[Our Homemade Hedgehog Boxes]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2023-12-07 12.11.01-2.jpg"
	thumbURL="thumbs/2023-12-07 12.11.01-2.jpg"
	linkURL="images/2023-12-07 12.11.01-2.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Bird_Bat_Boxes\2023-12-07 12.11.01-2.jpg">
    <title><![CDATA[Chris's Box]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2023-12-08 14.45.53.jpg"
	thumbURL="thumbs/2023-12-08 14.45.53.jpg"
	linkURL="images/2023-12-08 14.45.53.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Bird_Bat_Boxes\2023-12-08 14.45.53.jpg">
    <title><![CDATA[Chris's Box Installed]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2023-12-07 12.23.24.jpg"
	thumbURL="thumbs/2023-12-07 12.23.24.jpg"
	linkURL="images/2023-12-07 12.23.24.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Bird_Bat_Boxes\2023-12-07 12.23.24.jpg">
    <title><![CDATA[Maurice's Box Installed]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>