<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	resizeOnImport="false"
	galleryTitle="hedgehog Boxes"
	galleryTitlePosition="TOP"
	galleryTitleHAlign="CENTER"
	captionPosition="BELOW_IMAGE"
	showImageNumber="true"
	captionHAlign="CENTER"
	maxCaptionHeight="50"

>
  <image imageURL="images/IMG-20231110-WA0002.jpg"
	thumbURL="thumbs/IMG-20231110-WA0002.jpg"
	linkURL="images/IMG-20231110-WA0002.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\HedgehogBox\IMG-20231110-WA0002.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Marking Out the 8 x 4 Board]]></caption>
  </image>
  <image imageURL="images/2023-11-12 09.08.08.jpg"
	thumbURL="thumbs/2023-11-12 09.08.08.jpg"
	linkURL="images/2023-11-12 09.08.08.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\HedgehogBox\2023-11-12 09.08.08.png">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Marking Out the 8 x 4 Board]]></caption>
  </image>
  <image imageURL="images/PXL_20231110_110644293.MP.jpg"
	thumbURL="thumbs/PXL_20231110_110644293.MP.jpg"
	linkURL="images/PXL_20231110_110644293.MP.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\HedgehogBox\PXL_20231110_110644293.MP.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Cutting the 8 x 4 Board]]></caption>
  </image>
  <image imageURL="images/2023-11-23 14.23.04.jpg"
	thumbURL="thumbs/2023-11-23 14.23.04.jpg"
	linkURL="images/2023-11-23 14.23.04.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\HedgehogBox\2023-11-23 14.23.04.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[The Kit of Parts Ready to Go]]></caption>
  </image>
  <image imageURL="images/2023-11-12 14.27.57.jpg"
	thumbURL="thumbs/2023-11-12 14.27.57.jpg"
	linkURL="images/2023-11-12 14.27.57.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\HedgehogBox\2023-11-12 14.27.57.jpg">
    <title><![CDATA[Cut to Size]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2023-11-13 10.56.11-1.jpg"
	thumbURL="thumbs/2023-11-13 10.56.11-1.jpg"
	linkURL="images/2023-11-13 10.56.11-1.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\HedgehogBox\2023-11-13 10.56.11-1.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Drilling Fixing Holes]]></caption>
  </image>
  <image imageURL="images/2023-11-13 10.56.18b.jpg"
	thumbURL="thumbs/2023-11-13 10.56.18b.jpg"
	linkURL="images/2023-11-13 10.56.18b.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\HedgehogBox\2023-11-13 10.56.18b.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Assembly]]></caption>
  </image>
  <image imageURL="images/2023-11-16 14.22.48.jpg"
	thumbURL="thumbs/2023-11-16 14.22.48.jpg"
	linkURL="images/2023-11-16 14.22.48.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\HedgehogBox\2023-11-16 14.22.48.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Front]]></caption>
  </image>
  <image imageURL="images/2023-11-16 14.23.10.jpg"
	thumbURL="thumbs/2023-11-16 14.23.10.jpg"
	linkURL="images/2023-11-16 14.23.10.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\HedgehogBox\2023-11-16 14.23.10.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Inside]]></caption>
  </image>
  <image imageURL="images/2023-11-16 14.23.33.jpg"
	thumbURL="thumbs/2023-11-16 14.23.33.jpg"
	linkURL="images/2023-11-16 14.23.33.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\HedgehogBox\2023-11-16 14.23.33.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Side View]]></caption>
  </image>
  <image imageURL="images/2023-11-20 11.15.24.jpg"
	thumbURL="thumbs/2023-11-20 11.15.24.jpg"
	linkURL="images/2023-11-20 11.15.24.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\HedgehogBox\2023-11-20 11.15.24.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Finished]]></caption>
  </image>
  <image imageURL="images/2023-11-20 11.17.21.jpg"
	thumbURL="thumbs/2023-11-20 11.17.21.jpg"
	linkURL="images/2023-11-20 11.17.21.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\HedgehogBox\2023-11-20 11.17.21.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Finished]]></caption>
  </image>
</juiceboxgallery>