<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Macmillan 2022"

>
  <image imageURL="images/PXL_20220819_075857353.MP.jpg"
	thumbURL="thumbs/PXL_20220819_075857353.MP.jpg"
	linkURL="images/PXL_20220819_075857353.MP.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2022CRT\Macmillan\2022Photos\PXL_20220819_075857353.MP.jpg">
    <title><![CDATA[PXL_20220819_075857353.MP]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/PXL_20220819_075909485.MP.jpg"
	thumbURL="thumbs/PXL_20220819_075909485.MP.jpg"
	linkURL="images/PXL_20220819_075909485.MP.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2022CRT\Macmillan\2022Photos\PXL_20220819_075909485.MP.jpg">
    <title><![CDATA[PXL_20220819_075909485.MP]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/PXL_20220819_075912971.MP.jpg"
	thumbURL="thumbs/PXL_20220819_075912971.MP.jpg"
	linkURL="images/PXL_20220819_075912971.MP.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2022CRT\Macmillan\2022Photos\PXL_20220819_075912971.MP.jpg">
    <title><![CDATA[PXL_20220819_075912971.MP]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Screenshot_20220820-075529.jpg"
	thumbURL="thumbs/Screenshot_20220820-075529.jpg"
	linkURL="images/Screenshot_20220820-075529.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2022CRT\Macmillan\2022Photos\Screenshot_20220820-075529.png">
    <title><![CDATA[Screenshot_20220820-075529]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/PXL_20220819_082810688.MP.jpg"
	thumbURL="thumbs/PXL_20220819_082810688.MP.jpg"
	linkURL="images/PXL_20220819_082810688.MP.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2022CRT\Macmillan\2022Photos\PXL_20220819_082810688.MP.jpg">
    <title><![CDATA[PXL_20220819_082810688.MP]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/PXL_20220819_082819763.MP.jpg"
	thumbURL="thumbs/PXL_20220819_082819763.MP.jpg"
	linkURL="images/PXL_20220819_082819763.MP.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2022CRT\Macmillan\2022Photos\PXL_20220819_082819763.MP.jpg">
    <title><![CDATA[PXL_20220819_082819763.MP]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/PXL_20220819_083633296.MP.jpg"
	thumbURL="thumbs/PXL_20220819_083633296.MP.jpg"
	linkURL="images/PXL_20220819_083633296.MP.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2022CRT\Macmillan\2022Photos\PXL_20220819_083633296.MP.jpg">
    <title><![CDATA[PXL_20220819_083633296.MP]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/PXL_20220819_092906226.MP.jpg"
	thumbURL="thumbs/PXL_20220819_092906226.MP.jpg"
	linkURL="images/PXL_20220819_092906226.MP.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2022CRT\Macmillan\2022Photos\PXL_20220819_092906226.MP.jpg">
    <title><![CDATA[PXL_20220819_092906226.MP]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/PXL_20220819_092925134.MP.jpg"
	thumbURL="thumbs/PXL_20220819_092925134.MP.jpg"
	linkURL="images/PXL_20220819_092925134.MP.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2022CRT\Macmillan\2022Photos\PXL_20220819_092925134.MP.jpg">
    <title><![CDATA[PXL_20220819_092925134.MP]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/PXL_20220819_093044299.MP.jpg"
	thumbURL="thumbs/PXL_20220819_093044299.MP.jpg"
	linkURL="images/PXL_20220819_093044299.MP.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2022CRT\Macmillan\2022Photos\PXL_20220819_093044299.MP.jpg">
    <title><![CDATA[PXL_20220819_093044299.MP]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/PXL_20220819_093052267.MP.jpg"
	thumbURL="thumbs/PXL_20220819_093052267.MP.jpg"
	linkURL="images/PXL_20220819_093052267.MP.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2022CRT\Macmillan\2022Photos\PXL_20220819_093052267.MP.jpg">
    <title><![CDATA[PXL_20220819_093052267.MP]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/PXL_20220819_093053432.MP.jpg"
	thumbURL="thumbs/PXL_20220819_093053432.MP.jpg"
	linkURL="images/PXL_20220819_093053432.MP.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2022CRT\Macmillan\2022Photos\PXL_20220819_093053432.MP.jpg">
    <title><![CDATA[PXL_20220819_093053432.MP]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/PXL_20220819_093054504.MP.jpg"
	thumbURL="thumbs/PXL_20220819_093054504.MP.jpg"
	linkURL="images/PXL_20220819_093054504.MP.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2022CRT\Macmillan\2022Photos\PXL_20220819_093054504.MP.jpg">
    <title><![CDATA[PXL_20220819_093054504.MP]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/PXL_20220819_093111251.MP (Copy).jpg"
	thumbURL="thumbs/PXL_20220819_093111251.MP (Copy).jpg"
	linkURL="images/PXL_20220819_093111251.MP (Copy).jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2022CRT\Macmillan\2022Photos\PXL_20220819_093111251.MP (Copy).jpg">
    <title><![CDATA[PXL_20220819_093111251.MP (Copy)]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/PXL_20220819_093111251.MP.jpg"
	thumbURL="thumbs/PXL_20220819_093111251.MP.jpg"
	linkURL="images/PXL_20220819_093111251.MP.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2022CRT\Macmillan\2022Photos\PXL_20220819_093111251.MP.jpg">
    <title><![CDATA[PXL_20220819_093111251.MP]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/PXL_20220819_093118544.MP.jpg"
	thumbURL="thumbs/PXL_20220819_093118544.MP.jpg"
	linkURL="images/PXL_20220819_093118544.MP.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2022CRT\Macmillan\2022Photos\PXL_20220819_093118544.MP.jpg">
    <title><![CDATA[PXL_20220819_093118544.MP]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/PXL_20220819_095319245.jpg"
	thumbURL="thumbs/PXL_20220819_095319245.jpg"
	linkURL="images/PXL_20220819_095319245.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2022CRT\Macmillan\2022Photos\PXL_20220819_095319245.jpg">
    <title><![CDATA[PXL_20220819_095319245]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/PXL_20220819_095609827.MP.jpg"
	thumbURL="thumbs/PXL_20220819_095609827.MP.jpg"
	linkURL="images/PXL_20220819_095609827.MP.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2022CRT\Macmillan\2022Photos\PXL_20220819_095609827.MP.jpg">
    <title><![CDATA[PXL_20220819_095609827.MP]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/PXL_20220819_095611462.MP.jpg"
	thumbURL="thumbs/PXL_20220819_095611462.MP.jpg"
	linkURL="images/PXL_20220819_095611462.MP.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2022CRT\Macmillan\2022Photos\PXL_20220819_095611462.MP.jpg">
    <title><![CDATA[PXL_20220819_095611462.MP]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/PXL_20220819_100847891.MP.jpg"
	thumbURL="thumbs/PXL_20220819_100847891.MP.jpg"
	linkURL="images/PXL_20220819_100847891.MP.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2022CRT\Macmillan\2022Photos\PXL_20220819_100847891.MP.jpg">
    <title><![CDATA[PXL_20220819_100847891.MP]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/PXL_20220819_100854415.MP.jpg"
	thumbURL="thumbs/PXL_20220819_100854415.MP.jpg"
	linkURL="images/PXL_20220819_100854415.MP.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2022CRT\Macmillan\2022Photos\PXL_20220819_100854415.MP.jpg">
    <title><![CDATA[PXL_20220819_100854415.MP]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/PXL_20220819_101712738.MP.jpg"
	thumbURL="thumbs/PXL_20220819_101712738.MP.jpg"
	linkURL="images/PXL_20220819_101712738.MP.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2022CRT\Macmillan\2022Photos\PXL_20220819_101712738.MP.jpg">
    <title><![CDATA[PXL_20220819_101712738.MP]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/PXL_20220819_101715438.MP.jpg"
	thumbURL="thumbs/PXL_20220819_101715438.MP.jpg"
	linkURL="images/PXL_20220819_101715438.MP.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2022CRT\Macmillan\2022Photos\PXL_20220819_101715438.MP.jpg">
    <title><![CDATA[PXL_20220819_101715438.MP]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>