<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Lock 3 February 2023"

>
  <image imageURL="images/1.jpg"
	thumbURL="thumbs/1.jpg"
	linkURL="images/1.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Lock 3 Removing Silt\1.jpg">
    <title><![CDATA[Lock 3 Silt Removal]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SAM_2499.jpg"
	thumbURL="thumbs/SAM_2499.jpg"
	linkURL="images/SAM_2499.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Lock 3 Removing Silt\SAM_2499.JPG">
    <title><![CDATA[Top Gate]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SAM_2502.jpg"
	thumbURL="thumbs/SAM_2502.jpg"
	linkURL="images/SAM_2502.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Lock 3 Removing Silt\SAM_2502.JPG">
    <title><![CDATA[Top Gate ]]></title>
    <caption><![CDATA[Made at Bradleyin 2006]]></caption>
  </image>
  <image imageURL="images/SAM_2503.jpg"
	thumbURL="thumbs/SAM_2503.jpg"
	linkURL="images/SAM_2503.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Lock 3 Removing Silt\SAM_2503.JPG">
    <title><![CDATA[Climbing Down]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/WhatsApp Image 2023-03-18 at 10.24.36.jpeg"
	thumbURL="thumbs/WhatsApp Image 2023-03-18 at 10.24.36.jpeg"
	linkURL="images/WhatsApp Image 2023-03-18 at 10.24.36.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Lock 3 Removing Silt\WhatsApp Image 2023-03-18 at 10.24.36.jpeg">
    <title><![CDATA[The Task at Hand]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/WhatsApp Image 2023-03-18 at 10.24.49.jpeg"
	thumbURL="thumbs/WhatsApp Image 2023-03-18 at 10.24.49.jpeg"
	linkURL="images/WhatsApp Image 2023-03-18 at 10.24.49.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Lock 3 Removing Silt\WhatsApp Image 2023-03-18 at 10.24.49.jpeg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SAM_2504.jpg"
	thumbURL="thumbs/SAM_2504.jpg"
	linkURL="images/SAM_2504.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Lock 3 Removing Silt\SAM_2504.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SAM_2505.jpg"
	thumbURL="thumbs/SAM_2505.jpg"
	linkURL="images/SAM_2505.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Lock 3 Removing Silt\SAM_2505.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SAM_2508.jpg"
	thumbURL="thumbs/SAM_2508.jpg"
	linkURL="images/SAM_2508.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Lock 3 Removing Silt\SAM_2508.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SAM_2509.jpg"
	thumbURL="thumbs/SAM_2509.jpg"
	linkURL="images/SAM_2509.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Lock 3 Removing Silt\SAM_2509.JPG">
    <title><![CDATA[Taryn Finds her Lost Windlass]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SAM_2510.jpg"
	thumbURL="thumbs/SAM_2510.jpg"
	linkURL="images/SAM_2510.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Lock 3 Removing Silt\SAM_2510.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SAM_2511.jpg"
	thumbURL="thumbs/SAM_2511.jpg"
	linkURL="images/SAM_2511.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Lock 3 Removing Silt\SAM_2511.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SAM_2512.jpg"
	thumbURL="thumbs/SAM_2512.jpg"
	linkURL="images/SAM_2512.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Lock 3 Removing Silt\SAM_2512.JPG">
    <title><![CDATA[Bottom Gate]]></title>
    <caption><![CDATA[You dont normally see the gates from this angle]]></caption>
  </image>
  <image imageURL="images/SAM_2513.jpg"
	thumbURL="thumbs/SAM_2513.jpg"
	linkURL="images/SAM_2513.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Lock 3 Removing Silt\SAM_2513.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SAM_2514.jpg"
	thumbURL="thumbs/SAM_2514.jpg"
	linkURL="images/SAM_2514.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Lock 3 Removing Silt\SAM_2514.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SAM_2515.jpg"
	thumbURL="thumbs/SAM_2515.jpg"
	linkURL="images/SAM_2515.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Lock 3 Removing Silt\SAM_2515.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/WhatsApp Image 2023-03-18 at 09.51.19A.jpeg"
	thumbURL="thumbs/WhatsApp Image 2023-03-18 at 09.51.19A.jpeg"
	linkURL="images/WhatsApp Image 2023-03-18 at 09.51.19A.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Lock 3 Removing Silt\WhatsApp Image 2023-03-18 at 09.51.19A.jpeg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/WhatsApp Image 2023-03-18 at 09.51.19B.jpeg"
	thumbURL="thumbs/WhatsApp Image 2023-03-18 at 09.51.19B.jpeg"
	linkURL="images/WhatsApp Image 2023-03-18 at 09.51.19B.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Lock 3 Removing Silt\WhatsApp Image 2023-03-18 at 09.51.19B.jpeg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/WhatsApp Image 2023-03-18 at 09.51.29.jpeg"
	thumbURL="thumbs/WhatsApp Image 2023-03-18 at 09.51.29.jpeg"
	linkURL="images/WhatsApp Image 2023-03-18 at 09.51.29.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Lock 3 Removing Silt\WhatsApp Image 2023-03-18 at 09.51.29.jpeg">
    <title><![CDATA[All Done!]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/WhatsApp Image 2023-03-18 at 10.25.23.jpeg"
	thumbURL="thumbs/WhatsApp Image 2023-03-18 at 10.25.23.jpeg"
	linkURL="images/WhatsApp Image 2023-03-18 at 10.25.23.jpeg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@CRT\@2023CRT\Activity Photos\Lock 3 Removing Silt\WhatsApp Image 2023-03-18 at 10.25.23.jpeg">
    <title><![CDATA[Team Work]]></title>
    <caption><![CDATA[Staff and Volunteers Working Together]]></caption>
  </image>
</juiceboxgallery>